@using AudioLibrary.Device
@using AudioLibrary.Errors
@using AudioLibrary.SoundPlayer
@using AudioLibrary.Wave

<InputFile OnChange="LoadFiles" accept=".wav, .wave">Load a wave file</InputFile>
<br/>
<button @onclick="Play">Play</button>
<button @onclick="Pause">Pause</button>
<button @onclick="Stop">Stop</button>

@code
{
    private ISoundPlayer _soundPlayer = null!;

    protected override void OnInitialized()
    {
        const string wavFilePath = @"D:\sample.wav";
        var fileInfo = new FileInfo(wavFilePath);
        var alcAudioErrorsManagerFactory = new AlcAudioErrorsManagerFactory();
        var oadFinder = new OutputAudioDevicesFinder(alcAudioErrorsManagerFactory);
        var cadFinder = new CaptureDevicesFinder(alcAudioErrorsManagerFactory);
        var aadFinder = new AllAudioDevicesFinder(alcAudioErrorsManagerFactory);
        Console.WriteLine("Output audio devices");
        var oad = oadFinder.GetAll();
        foreach (var device in oad)
        {
            Console.WriteLine(device);
        }

        Console.WriteLine("Capture audio devices");
        var cad = cadFinder.GetAll();
        foreach (var device in cad)
        {
            Console.WriteLine(device);
        }

        Console.WriteLine("All audio devices");
        var aad = aadFinder.GetAll();
        foreach (var device in aad)
        {
            Console.WriteLine(device);
        }

        var waveAudio = new WaveFile(fileInfo.FullName);

        var audioDevice = new DefaultAudioDevice(alcAudioErrorsManagerFactory);
        _soundPlayer = new SoundPlayer(audioDevice, new AlAudioErrorsManager());
        _soundPlayer.Open(waveAudio);
    }

    private void Play()
    {
        _soundPlayer.Play();
    }

    private void Pause()
    {
        _soundPlayer.Pause();
    }

    private void Stop()
    {
        _soundPlayer.Stop();
    }

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        await using FileStream fs = new(e.File.Name, FileMode.Create);
        // await browserFile.OpenReadStream().CopyToAsync(fs);
        // var file = e.File.OpenReadStream().ReadAsync();
    }
}
