@page "/"
@using AudioLibrary.Device
@using AudioLibrary.Errors
@using AudioLibrary.SoundPlayer
@using AudioLibrary.Wave

<h1>Hello, world!</h1>
<br/>
<button @onclick="Play">Play</button>
<button @onclick="Pause">Pause</button>
<button @onclick="Stop">Stop</button>

@code
{
    private ISoundPlayer _soundPlayer = null!;

    protected override void OnInitialized()
    {
        const string wavFilePath = @"D:\sample.wav";
        var fileInfo = new FileInfo(wavFilePath);
        var alcAudioErrorsManagerFactory = new AlcAudioErrorsManagerFactory();
        var oadFinder = new OutputAudioDevicesFinder(alcAudioErrorsManagerFactory);
        var cadFinder = new CaptureDevicesFinder(alcAudioErrorsManagerFactory);
        var aadFinder = new AllAudioDevicesFinder(alcAudioErrorsManagerFactory);
        Console.WriteLine("Output audio devices");
        var oad = oadFinder.GetAll();
        foreach (var device in oad)
        {
            Console.WriteLine(device);
        }

        Console.WriteLine("Capture audio devices");
        var cad = cadFinder.GetAll();
        foreach (var device in cad)
        {
            Console.WriteLine(device);
        }

        Console.WriteLine("All audio devices");
        var aad = aadFinder.GetAll();
        foreach (var device in aad)
        {
            Console.WriteLine(device);
        }

        var waveAudio = new WaveFile(fileInfo.FullName);

        //var audioDevice = new AudioDevice(null);   // equivalent to DefaultAudioDevice
        //var audioDevice = new AudioDevice("");     // equivalent to DefaultAudioDevice

        var audioDevice = new DefaultAudioDevice(alcAudioErrorsManagerFactory);
        _soundPlayer = new SoundPlayer(audioDevice, new AlAudioErrorsManager());
        _soundPlayer.Open(waveAudio);
    }

    private void Play()
    {
        _soundPlayer.Play();

        // Task.Run(() =>
        // {
        //     while (soundPlayer.GetSourceState() == SourceState.Playing)
        //     {
        //         Console.WriteLine("Playing");
        //     }
        // });

        // Thread.Sleep(5000);
        // Console.WriteLine("Position: " + soundPlayer.Position);
        // soundPlayer.Pause();
        // Thread.Sleep(5000);
        // Console.WriteLine("Position: " + soundPlayer.Position);
        // soundPlayer.Play();
        // Console.WriteLine("Position: " + soundPlayer.Position);
        // Thread.Sleep(5000);
        // soundPlayer.Stop();
        // Console.WriteLine("Position: " + soundPlayer.Position);
        // soundPlayer.Close();
        // Console.WriteLine("Position: " + soundPlayer.Position);
        // soundPlayer.ShutDown();
    }

    private void Pause()
    {
        _soundPlayer.Pause();
    }

    private void Stop()
    {
        _soundPlayer.Stop();
    }
}